/*
    Theme Name: YRisk
    Theme URI: http://highseastudio.com/demo/asana
    Description: YRisk - customized child theme of Asana
    Author: HighSeaStudio
    Author URI: http://highseastudio.com/
    Version: 1.4.1
    TextDomain: asana
    Template: asana
	License: GNU General Public License v3.0
	License URI: http://www.gnu.org/licenses/gpl-3.0.txt
*/

/* Body */

body {background-color:#f4f4f4;}

/* Header */

.page-template-templ-prices #header .headerWrap,
.page-template-templ-bridallist #header .headerWrap,
.page-template-templ-home-v2 #header .headerWrap,
.page-template-templ-home #header .headerWrap,
.archive.tax-product_tag #header .headerWrap,
.archive.tax-uni_event_cat #header .headerWrap, 
.page-template-templ-wishlist #header .headerWrap,
.page.woocommerce-checkout #header .headerWrap, 
.archive.tax-product_cat #header .headerWrap, 
.page-template-templ-classes #header .headerWrap, 
.single-product #header .headerWrap, 
.page.woocommerce-cart #header .headerWrap, 
.single-uni_event #header .headerWrap, 
.page-template-templ-events #header .headerWrap, 
.post-type-archive-product #header .headerWrap,
.page-template-templ-contact-php #header .headerWrap, 
.page-template-templ-about #header .headerWrap {background: #ffffff;border-bottom-color: rgba(255,255,255,0.2);}

.page-template-templ-prices #header, .page-template-templ-bridallist #header, .page-template-templ-home-v2 #header, .archive.tax-product_tag #header, .archive.tax-uni_event_cat #header, .page-template-templ-wishlist #header, .page.woocommerce-checkout #header, .archive.tax-product_cat #header, .page-template-templ-classes #header, .single-product #header, .page.woocommerce-cart #header, .single-uni_event #header, .page-template-templ-events #header, .post-type-archive-product #header, .page-template-templ-contact-php #header, .page-template-templ-about #header {position:relative;}

.logo {display: block;float: left;margin: 22px 0 0 40px;-webkit-transition: margin 0.3s ease;-moz-transition: margin 0.3s ease;-o-transition: margin 0.3s ease;transition: margin 0.3s ease;}

#header .is-sticky .logo {margin-top: 5px;}

/* Main Menu */

.page-template-templ-prices .mainMenu > ul > li a,
.archive.tax-product_tag .mainMenu > ul > li a,
.page-template-templ-home-v2 .mainMenu > ul > li a,
.page-template-templ-home .mainMenu > ul > li a,
.page-template-templ-bridallist .mainMenu > ul > li a,
.page-template-templ-wishlist .mainMenu > ul > li a,
.archive.tax-uni_event_cat .mainMenu > ul > li a, .archive.tax-product_cat .mainMenu > ul > li a, .page.woocommerce-checkout .mainMenu > ul > li a,
.page-template-templ-classes .mainMenu > ul > li a, .single-product .mainMenu > ul > li a, .page.woocommerce-cart .mainMenu > ul > li a, .single-uni_event .mainMenu > ul > li a, .page-template-templ-events .mainMenu > ul > li a,
.post-type-archive-product .mainMenu > ul > li a, .page-template-templ-contact-php .mainMenu > ul > li a, .page-template-templ-about .mainMenu > ul > li a {color: #424143;opacity: 0.7;-webkit-transition: opacity 0.3s ease;-moz-transition: opacity 0.3s ease;-o-transition: opacity 0.3s ease;transition: opacity 0.3s ease;}



/* Home Slider */

.slideDesc {position: absolute;left: 0;top: 55%;width: 100%;text-align: center;opacity: 0;-webkit-transition: opacity 0.4s ease, top 0.4s linear;-moz-transition: opacity 0.4s ease, top 0.4s linear;-o-transition: opacity 0.4s ease, top 0.4s linear;transition: opacity 0.4s ease, top 0.4s linear;}
.slideDesc h2 {line-height: 46px;margin:0 20% 38px; color: #fff;font-size: 42px;font-weight: 300;text-transform: uppercase;}

.learnMore, .learnMore:visited {display: inline-block;line-height: 20px;padding: 10px 40px;font-size: 12px;font-family: 'Montserrat', sans-serif;text-decoration: none;text-transform: uppercase;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;-webkit-transition: background 0.3s ease;-moz-transition: background 0.3s ease;-o-transition: background 0.3s ease;transition: background 0.3s ease;}

.bx-wrapper .bx-pager {bottom:83px;}
.slideDown {position:absolute;left:0;right:0;bottom:33px;margin:0 auto;display:block;content:'';height:18px;width:43px;background-image:url('../img/arrow-dwn.png');background-repeat: no-repeat;background-position: center;}

a.anchor {display: block;position: relative;top: -90px;visibility: hidden;}

/* Home grid */

.mainItemDesc .viewMore, .mainItemDesc .viewMore:visited {display: inline-block;line-height: 42px;min-width: 90px; padding: 0 35px; font-size: 12px;font-family: 'Montserrat', sans-serif;text-decoration: none;text-transform: uppercase;-webkit-transition: background 0.3s ease, color 0.3s ease;-moz-transition: background 0.3s ease, color 0.3s ease;-o-transition: background 0.3s ease, color 0.3s ease;transition: background 0.3s ease, color 0.3s ease;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}

.gridItemDesc.one {position: absolute;left: 50px;top: 50px;width: 70%;height: 70%;padding: 20px 100px 0 20px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;}
.gridItemDesc.two {background:transparent !important;position: absolute;left: 50px;top: 50px;width: 70%;height: 70%;padding: 0 15% 0 0; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;}

.gridItemDesc h3 {position: relative; line-height: 22px;max-height: none; margin-bottom: 48px; color: #fff;font-size: 20px;font-weight: normal;text-transform: uppercase;}
.gridItemDesc.two h3 {position: relative; line-height: 22px;max-height: none; margin-bottom: 48px; color: #fff;font-size: 20px;font-weight: normal;text-transform: uppercase;}

.gridItem.four .gridItemImg {float:right;}
.gridItem.four .gridItemDesc {left: 0;right: auto;}
.gridItem.four .gridItemDesc h3:before {background:transparent;}

.gridItemDesc p {line-height: 14px;max-height: 120px; margin-bottom: 20px;font-size: 14px;font-weight: normal; text-transform: uppercase;} 

.gridItemDesc .viewMore {position: absolute;left: auto;bottom: 27px; width: calc(100% - 70px); line-height: 14px; font-size: 12px;font-family: 'Montserrat', sans-serif;font-weight: 400;text-decoration: none;text-transform: uppercase;-webkit-transition: color 0.3s ease;-moz-transition: color 0.3s ease;-o-transition: color 0.3s ease;transition: color 0.3s ease;}

.gridItemPurple .gridItemDesc {background: #732771;}

.gridItemDesc button {border-color: transparent;}

.gridItem.four .gridItemDesc p {position: absolute;left: 40px;bottom: 27px; width: calc(100% - 70px);}

.gridItem .gridItemDesc a:hover .viewMore {color:#989ecc;}
.gridItem2:hover .gridItemDesc .viewMore i path, .gridItem .gridItemDesc a:hover .viewMore i path {fill:#989ecc;}



/* Product grid */

.mainProductDesc .viewMore, .mainProductDesc .viewMore:visited {display: inline-block;line-height: 42px;min-width: 90px; padding: 0 35px; font-size: 12px;font-family: 'Montserrat', sans-serif;text-decoration: none;text-transform: uppercase;-webkit-transition: background 0.3s ease, color 0.3s ease;-moz-transition: background 0.3s ease, color 0.3s ease;-o-transition: background 0.3s ease, color 0.3s ease;transition: background 0.3s ease, color 0.3s ease;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}

.gridProductDesc.one {position: absolute;left: 50px;top: 50px;width: 70%;height: 70%;padding: 20px 100px 0 20px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;}
.gridProductDesc.two {background:transparent !important;position: absolute;left: 50px;top: 50px;width: 70%;height: 70%;padding: 0 15% 0 0; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;}

.gridProductDesc h3 {position: relative; line-height: 22px;max-height: none; margin-bottom: 48px; color: #fff;font-size: 20px;font-weight: normal;text-transform: uppercase;}
.gridProductDesc.two h3 {position: relative; line-height: 22px;max-height: none; margin-bottom: 48px; color: #fff;font-size: 20px;font-weight: normal;text-transform: uppercase;}

.gridProduct.four .gridProductImg {float:right;}
.gridProduct.four .gridProductDesc {left: 0;right: auto;}
.gridProduct.four .gridProductDesc h3:before {background:transparent;}

.gridProductDesc p {line-height: 14px;max-height: 120px; margin-bottom: 20px;font-size: 14px;font-weight: normal; text-transform: uppercase;} 

.gridProductDesc .viewMore {position: absolute;left: auto;bottom: 27px; width: calc(100% - 70px); line-height: 14px; font-size: 12px;font-family: 'Montserrat', sans-serif;font-weight: 400;text-decoration: none;text-transform: uppercase;-webkit-transition: color 0.3s ease;-moz-transition: color 0.3s ease;-o-transition: color 0.3s ease;transition: color 0.3s ease;}

.gridProductPurple .gridProductDesc {background: #732771;}

.gridProductDesc button {border-color: transparent;}

.gridProduct.four .gridProductDesc p {position: absolute;left: 40px;bottom: 27px; width: calc(100% - 70px);}

.gridProduct .gridProductDesc a:hover .viewMore {color:#989ecc;}
.gridProduct2:hover .gridProductDesc .viewMore i path, .gridProduct .gridProductDesc a:hover .viewMore i path {fill:#989ecc;}

/* Home Sections */

ul.shopItemsWrap li img {background-color:#f4f4f4;width: 160px; height:160px; padding:70px;-webkit-transition: background 0.3s ease, color 0.3s ease;-moz-transition: background 0.3s ease, color 0.3s ease;-o-transition: background 0.3s ease, color 0.3s ease;transition: background 0.3s ease, color 0.3s ease;}
ul.shopItemsWrap li a:hover img {background-color:#525daa;}

/* Pages */

.container {padding-top: 0; background-color:#ffffff;}
.page.page-template-default .container, .single-post .container, .page-template-templ-blog .container {padding-top:0;}
.page .wrapper {width: 770px;padding-top:60px;}
.page.page-template-default .ourContact  .wrapper,.page.page-template-default .aboutBlock .wrapper {width:1170px;}
.pageHeader {height: 340px;}
.pageHeader h1 {top:150px;}

.parallaxBox.pattern {height:412px; background-size:inherit; background-repeat: repeat;}

.page-id-52 .parallaxBox.pattern {background-image: url('../img/pattern4.png')}
.page-template-templ-about .parallaxBox.pattern, .page-id-71 .parallaxBox.pattern {background-image: url('../img/pattern3.png')}
.page-template-templ-contact .parallaxBox.pattern {background-image: url('../img/pattern2.png')}

.parallaxBox.map {background-image:url('../img/map.png');background-size:cover;}

h3.diagramHeadline {text-align:center;padding:100px 0;width: 100%;background-color:#f4f4f4;color: #333333;font-size: 42px;font-weight: 300;text-transform: uppercase;line-height: normal;}

.blockClients {width:100%;background-color:#f4f4f4;}
.blockClients ul.shopItemsWrap {margin-bottom:0 !important;}
.blockClients ul.shopItemsWrap li a:hover img {background-color:#ffffff;}
.blockClients ul.shopItemsWrap li {width:290px !important;height:290px !important;}
.blockClients ul.shopItemsWrap li img {background-color:#ffffff;width:210px;height:210px;padding:40px;}
.blockClients .shopItem {width:290px;height:290px;}
.blockClients .shopItem .overlay {background-color: rgba(197,22,135,0.8);}
.blockClients .shopItem .overlay span {font-size:14px;text-transform: uppercase;color:#ffffff;}
.blockClients .shopItemTextWrap h3 {text-transform: uppercase;}

.aboutBlock {background:#ffffff;padding-bottom:40px;}

.teamItemWrap {background-image: url('../img/pattern1.png') !important;min-height:600px;}

.teamItemDesc {position:absolute;}
.teamItemDesc.show {z-index:1000;}

.blockAbout ul.shopItemsWrap li {background:#f4f4f4 ;width:380px !important;height:272px !important;}
.blockAbout ul.shopItemsWrap li.two {background:#e02d2a;width:380px !important;height:272px !important;}
.blockAbout ul.shopItemsWrap li img {background-color:inherit;width: auto; height:auto; padding:0;}
.blockAbout ul.shopItemsWrap li a:hover img {background-color:inherit;}
.blockAboutDesc {text-align:left;background:#535daa;position: absolute;left: 25px;top: 25px;width: 85%;height: 80%;padding: 10px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.blockAboutDesc h3 {position: relative; line-height: 22px;max-height: none; margin-bottom: 48px; color: #fff;font-size: 16px;font-weight: normal;text-transform: uppercase;}
.blockAboutDesc h3:before {background:#ffffff;position: absolute;left: 0;bottom: -27px;width: 46px;height: 1px;content: "";}
.blockAboutDesc .viewMore a {color:#ffffff;position: absolute;left: auto;bottom: 27px; width: calc(100% - 70px); line-height: 14px; font-size: 12px;font-family: 'Montserrat', sans-serif;font-weight: 400;text-decoration: none;text-transform: uppercase;-webkit-transition: color 0.3s ease;-moz-transition: color 0.3s ease;-o-transition: color 0.3s ease;transition: color 0.3s ease;}
.blockAboutDesc .viewMore a:hover {color:#989ecc;}
.blockAboutDesc .viewMore i {position: absolute;right: 0;top: -1px;}
.blockAboutDesc .viewMore i path {fill:#ffffff;-webkit-transition: fill 0.3s ease;-moz-transition: fill 0.3s ease;-o-transition: fill 0.3s ease;transition: fill 0.3s ease;}
.blockAboutDesc .viewMore:hover i path {fill:#989ecc;}


.blockProdDesc {text-align:left;background:#535daa;position: absolute;left: 25px;top: 25px;width: 85%;height: 90%;padding: 10px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.blockProdDesc h3 {position: relative; line-height: 22px;max-height: none; margin-bottom: 48px; color: #fff;font-size: 16px;font-weight: normal;text-transform: uppercase;}
.blockProdDesc  a
{
	color: white;
	text-decoration:none;
}
.blockProdDesc h3:before {background:#ffffff;position: absolute;left: 0;bottom: -27px;width: 46px;height: 1px;content: "";}
.blockProdDesc .viewMore a {color:#ffffff;position: absolute;left: auto;bottom: 27px; width: calc(100% - 70px); line-height: 14px; font-size: 12px;font-family: 'Montserrat', sans-serif;font-weight: 400;text-decoration: none;text-transform: uppercase;-webkit-transition: color 0.3s ease;-moz-transition: color 0.3s ease;-o-transition: color 0.3s ease;transition: color 0.3s ease;}
.blockProdDesc .viewMore a:hover {color:#989ecc;}
.blockProdDesc .viewMore i {position: absolute;right: 0;top: -1px;}
.blockProdDesc .viewMore i path {fill:#ffffff;-webkit-transition: fill 0.3s ease;-moz-transition: fill 0.3s ease;-o-transition: fill 0.3s ease;transition: fill 0.3s ease;}
.blockProdDesc .viewMore:hover i path {fill:#989ecc;}

.ygigProd
{
	padding: 10px 2px;
}

.ygigProd h3
{
	margin-bottom: 13px;
	text-align: center;
	font-size: 18px;
	text-transform: capitalize;
	font-weight: bold;
}
.ygigProd h3:before
{
	background: transparant;
	height: 0;
	position: inherit;
}
.blockProdDesc .viewMore a.purple {color:#9b6bcc;text-transform: capitalize; font-weight: bold}
.blockProdDesc .viewMore a.purple i path {fill: #9b6bcc;}
.blockProdDesc .viewMore a.purple:hover {color:#814fb5;}
.blockProdDesc .viewMore a.ltblue {color:#3498db;text-transform: capitalize; font-weight: bold}
.blockProdDesc .viewMore a.ltblue i path {fill: #3498db;}
.blockProdDesc .viewMore a.ltblue:hover {color:#2980b9;}
.blockProdDesc .viewMore a.blue {color:#4765a0;text-transform: capitalize; font-weight: bold}
.blockProdDesc .viewMore a.blue i path {fill: #4765a0;}
.blockProdDesc .viewMore a.blue:hover {color:#324c80;}
.blockProdDesc .viewMore a.grey {color:#555;text-transform: capitalize; font-weight: bold}
.blockProdDesc .viewMore a.grey i path {fill: #555;}
.blockProdDesc .viewMore a.grey:hover {color:#333;}
.blockProdDesc .viewMore a.red {color:#e74c3c;text-transform: capitalize; font-weight: bold}
.blockProdDesc .viewMore a.red i path {fill: #e74c3c;}
.blockProdDesc .viewMore a.red:hover {color:#c0392b;}
.blockProdDesc .viewMore a.brown {color:#9c8061;text-transform: capitalize; font-weight: bold}
.blockProdDesc .viewMore a.brown i path {fill: #9c8061;}
.blockProdDesc .viewMore a.brown:hover {color:#81674b;}
.blockProdDesc .viewMore a.pink {color:#c51687;text-transform: capitalize; font-weight: bold}
.blockProdDesc .viewMore a.pink i path {fill: #c51687;}
.blockProdDesc .viewMore a.pink:hover {color:#a41170;}
.blockProdDesc .viewMore a.aqua {color:#1abc9c;text-transform: capitalize; font-weight: bold}
.blockProdDesc .viewMore a.aqua i path {fill: #1abc9c;}
.blockProdDesc .viewMore a.aqua:hover {color:#16a085;}

.blockProdWrap
{
	background-color: white;
	padding: 20px;
	height: 70%;
}
.blockProdWrap a
{
	color: #000;
    letter-spacing: 0.025em;
}

.teamItemDesc p.teamItemDescText {margin-bottom:0;}


.submitContactFormBtn {float:none;background-color:#525daa;color:#ffffff;border:none;}
.submitContactFormBtn:hover {background-color:#989ecc;}

.ourContact .bx-pager.bx-default-pager:after {display: none;}

.ourContact a {text-decoration: none;}
.ourContact a:hover {color:#525daa;}

/* Footer */

.footerSocial a {display: block;float: left;width: 44px;height: 44px;line-height: 44px;margin-left: 16px; border: none;color: #7f7f7f;font-size: 18px; text-decoration: none;text-align: center;-webkit-border-radius: none;-moz-border-radius: none;border-radius: none;-webkit-transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;-moz-transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;-o-transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;}

.footerSocial a:hover
{
	background:#cc0099;
}
.footerSubscribe input[type="text"] {background-color:#e6e6e6; width: 100%;height: 100%;padding: 0 62px 0 22px; border: 1px solid #e6e6e6;color: #7f7f7f;font-size: 12px;font-family: 'Open Sans', sans-serif;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px; -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;}

.footerMenu li a, .footerMenu li a:visited {display: block;line-height: 16px;padding: 0 5px;color: #7f7f7f;font-size: 10px;font-family: 'Montserrat', sans-serif;font-weight: 700; text-transform: uppercase;text-decoration: none;-webkit-transition: color 0.3s ease;-moz-transition: color 0.3s ease;-o-transition: color 0.3s ease;transition: color 0.3s ease;}

.footerCopyright {
    position: absolute;
    left: 50%;
    width: 570px;
    margin-left: -285px;
    text-align: center;
}

.sitebyTM {
    float: right;
    margin-right: 40px;
}

/* Other */

img.alignright {float:right;margin-right:40px;}

.learnMore.purple {background-color:#525daa;color:#ffffff;}
.learnMore.purple:hover {background-color: #5f68aa;}


/* Validation */

input.parsley-success, select.parsley-success, textarea.parsley-success {color:#525da8 !important;border:1px solid #525da8!important;}
input.parsley-error, select.parsley-error, textarea.parsley-error, .wpcf7-form input.wpcf7-not-valid, .wpcf7-form textarea.wpcf7-not-valid {color:#c51687 !important;border:1px solid #c51687!important}
input.parsley-success::-moz-placeholder, select.parsley-success::-moz-placeholder, textarea.parsley-success::-moz-placeholder {opacity: 1!important;color: #525da8!important;}
input.parsley-success:-ms-input-placeholder, select.parsley-success:-ms-input-placeholder, textarea.parsley-success:-ms-input-placeholder {color: #525da8!important;}
input.parsley-success::-webkit-input-placeholder, select.parsley-success::-webkit-input-placeholder, textarea.parsley-success::-webkit-input-placeholder {color: #525da8!important;}
input.parsley-error::-moz-placeholder , select.parsley-error::-moz-placeholder , textarea.parsley-error::-moz-placeholder {opacity: 1!important;color: #c51687!important;}
.wpcf7-form input.wpcf7-not-valid:-ms-input-placeholder, .wpcf7-form textarea.wpcf7-not-valid:-ms-input-placeholder,
input.parsley-error:-ms-input-placeholder, select.parsley-error:-ms-input-placeholder, textarea.parsley-error:-ms-input-placeholder {color: #c51687!important;}
.wpcf7-form input.wpcf7-not-valid::-webkit-input-placeholder, .wpcf7-form textarea.wpcf7-not-valid::-webkit-input-placeholder,
input.parsley-error::-webkit-input-placeholder, select.parsley-error::-webkit-input-placeholder, textarea.parsley-error::-webkit-input-placeholder {color: #c51687!important;}

#uni_popup.success-message {background: #525da8!important;}
#uni_popup.warning-message {background: #c51687!important;}



/* Adaptive */

@media only screen and (max-width: 1023px) {
    #header .headerWrap {height: 90px !important;}
    .page .wrapper {width:758px;margin-top:45px;padding: 0 5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing: border-box;}
    .home .showMobileMenu span, .page-template-templ-classes .showMobileMenu span, .single-product .showMobileMenu span, .page.woocommerce-cart .showMobileMenu span, .page-template-templ-events .showMobileMenu span, .archive.tax-product_cat .showMobileMenu span, .archive.post-type-archive-product .showMobileMenu span, .page.woocommerce-checkout .showMobileMenu span, .page-template-templ-wishlist .showMobileMenu span, .single-uni_event .showMobileMenu span, .page-template-templ-about .showMobileMenu span, .page-template-templ-contact .showMobileMenu span {background:#333333!important;}
}

@media only screen and (max-width: 767px) {
	.footerSubscribe {
    margin-top: 0;
display:block;
clear:left;
}
.footerCopyright {
    position: relative;
    left: 0;
    margin-left: 0;
    width: auto;
}
    #header {height:60px !important;}
    #header .headerWrap {height: 60px !important;}
    #header .headerWrap .logo {margin-top:5px;}
    .page .wrapper {width:470px;}
    .gridItem.one,.gridItem.two {padding-bottom:100px;}
    .gridItemDesc.one {padding: 30px 20px 0 20px;height:70%;}
    .slideDesc h2 {line-height: 40px;margin-bottom: 20px;font-size: 30px;}
    .blockTitle {line-height: normal;padding: 60px 0;font-size: 36px;margin-top: 60px;}
    .parallaxBox.pattern {background-size:inherit !important;}
	.copyright {text-align: center;margin:0 auto;}
    .copyright a {display:block;margin-top:10px;float:none;}
    .copyright a img.alignright {float:none;}
}
.copyright p
	{
	padding-left:0 !important;
	}
img.alignright
{
margin-right: 0 !important;
}
@media only screen and (max-width: 479px) {
	.footerSubscribe {
    	margin-top: 0;
	}
	.copyright p
	{
	padding-left:0 !important;
	}
	
img.alignright
{
margin-right: 0 !important;
}
    .page .wrapper {width:310px;}
    .slideDesc h2 {line-height: 34px;font-size: 26px;}
    .blockTitle {line-height: normal;font-size: 26px;padding: 60px 0;margin-top: 60px;}
    .footerMenu {text-align: center;}
    .copyright {text-align: center;margin:0 auto;}
    .copyright a {display:inline-block;margin-top:10px;float:none;}
    .copyright a img.alignright {float:none;}
    .footerCopyright {position: relative;left:0;margin-left:0;width:auto;}
    .sitebyTM {float:none;margin:20px auto 0;}
}.blockProdDesc .viewMoreHalf a
{
	    width: calc(50% - 70px);
}
.blockProdDesc .viewMoreHalf a#second
{
	    left: 60%;
}